body {
	background-color:#2f2f2f;
}
.circular {
  border-radius: 50%;
  width:150px;
  border: 10px solid #525252;
  transition: border-width 0.1s linear;
}
img {
	/*image-rendering: crisp-edges;*/
}
a:hover img {
  /*width:400px;*/
  border: 16px solid #616161;
}
.center {
 display: flex;
  justify-content: center;
  align-items: center;
  height:500px;
}