.circular {
  border-radius: 50%;
  width:100px;
}
img {
  
  image-rendering: pixelated;
}
a:hover img {
  width:120px;
}
.center {
 display: flex;
  justify-content: center;
  align-items: center;
  height:150px;
}