body {
	background-color:#2f2f2f;
}
.circular {
	border-radius: 50%;
	width:100px;
	box-shadow:0 0 0 8px #525252;
	transition: box-shadow 0.1s linear;
}
img {
	/*image-rendering: crisp-edges;*/
}
a:hover img {
  box-shadow: 0 0 0 12px #616161;
}
.cell {
	text-align: center;
	vertical-align: middle;
	width:140px;
	height:140px;
}